<title>My application</title>
  <h1>Hello, World!</h1>
    In the first form, enter a list of integers separated by a newline character.<br>
    In the second form, enter three integers.<br>
    If sum of these integers is found in the list, the result is true. Otherwise false.<br>
    Let's start<br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
